.text-white {
    color: #FFFFFF
}
.text-ivory {
    color: #FFFFF0
}
.text-light-yellow {
    color: #FFFFE0
}
.text-very-pale-yellow {
    color: #FFFFBF
}
.text-canary {
    color: #FFFF99
}
.text-laser-lemon {
    color: #FFFF66
}
.text-unmellow-yellow {
    color: #FFFF66
}
.text-electric-yellow {
    color: #FFFF33
}
.text-daffodil {
    color: #FFFF31
}
.text-yellow {
    color: #FFFF00
}
.text-cream {
    color: #FFFDD0
}
.text-snow {
    color: #FFFAFA
}
.text-floral-white {
    color: #FFFAF0
}
.text-lemon-chiffon {
    color: #FFFACD
}
.text-cosmic-latte {
    color: #FFF8E7
}
.text-cornsilk {
    color: #FFF8DC
}
.text-lemon {
    color: #FFF700
}
.text-yellow-sunshine {
    color: #FFF700
}
.text-cadmium-yellow {
    color: #FFF600
}
.text-seashell {
    color: #FFF5EE
}
.text-lemon-yellow {
    color: #FFF44F
}
.text-lavender-blush {
    color: #FFF0F5
}
.text-yellow-rose {
    color: #FFF000
}
.text-papaya-whip {
    color: #FFEFD5
}
.text-canary-yellow {
    color: #FFEF00
}
.text-yellow-process {
    color: #FFEF00
}
.text-blanched-almond {
    color: #FFEBCD
}
.text-middle-yellow {
    color: #FFEB00
}
.text-peach {
    color: #FFE5B4
}
.text-misty-rose {
    color: #FFE4E1
}
.text-lumber {
    color: #FFE4CD
}
.text-bisque {
    color: #FFE4C4
}
.text-vivid-yellow {
    color: #FFE302
}
.text-banana-yellow {
    color: #FFE135
}
.text-very-pale-orange {
    color: #FFDFBF
}
.text-gargoyle-gas {
    color: #FFDF46
}
.text-golden-yellow {
    color: #FFDF00
}
.text-navajo-white {
    color: #FFDEAD
}
.text-pink-lace {
    color: #FFDDF4
}
.text-unbleached-silk {
    color: #FFDDCA
}
.text-mustard {
    color: #FFDB58
}
.text-sizzling-sunrise {
    color: #FFDB00
}
.text-mimi-pink {
    color: #FFDAE9
}
.text-peach-puff {
    color: #FFDAB9
}
.text-school-bus-yellow {
    color: #FFD800
}
.text-gold-web-golden {
    color: #FFD700
}
.text-cyber-yellow {
    color: #FFD300
}
.text-yellow-ncs {
    color: #FFD300
}
.text-shampoo {
    color: #FFCFF1
}
.text-peach-orange {
    color: #FFCC99
}
.text-sunglow {
    color: #FFCC33
}
.text-tangerine-yellow {
    color: #FFCC00
}
.text-usc-gold {
    color: #FFCC00
}
.text-deep-peach {
    color: #FFCBA4
}
.text-peach {
    color: #FFCBA4
}
.text-topaz {
    color: #FFC87C
}
.text-mikado-yellow {
    color: #FFC40C
}
.text-bubble-gum {
    color: #FFC1CC
}
.text-pink {
    color: #FFC0CB
}
.text-amber {
    color: #FFBF00
}
.text-fluorescent-orange {
    color: #FFBF00
}
.text-macaroni-and-cheese {
    color: #FFBD88
}
.text-cotton-candy {
    color: #FFBCD9
}
.text-selective-yellow {
    color: #FFBA00
}
.text-cherry-blossom-pink {
    color: #FFB7C5
}
.text-light-pink {
    color: #FFB6C1
}
.text-light-hot-pink {
    color: #FFB3DE
}
.text-pastel-orange {
    color: #FFB347
}
.text-ucla-gold {
    color: #FFB300
}
.text-very-light-tangelo {
    color: #FFB077
}
.text-yellow-orange {
    color: #FFAE42
}
.text-bright-yellow-crayola {
    color: #FFAA1D
}
.text-dark-tangerine {
    color: #FFA812
}
.text-chrome-yellow {
    color: #FFA700
}
.text-carnation-pink {
    color: #FFA6C9
}
.text-orange-web {
    color: #FFA500
}
.text-neon-carrot {
    color: #FFA343
}
.text-vivid-tangerine {
    color: #FFA089
}
.text-light-salmon {
    color: #FFA07A
}
.text-vivid-orange-peel {
    color: #FFA000
}
.text-orange-peel {
    color: #FF9F00
}
.text-pale-magenta-pink {
    color: #FF99CC
}
.text-light-salmon-pink {
    color: #FF9999
}
.text-atomic-tangerine {
    color: #FF9966
}
.text-pink-orange {
    color: #FF9966
}
.text-deep-saffron {
    color: #FF9933
}
.text-vivid-gamboge {
    color: #FF9900
}
.text-baker-miller-pink {
    color: #FF91AF
}
.text-schauss-pink {
    color: #FF91AF
}
.text-salmon-pink {
    color: #FF91A4
}
.text-dark-orange {
    color: #FF8C00
}
.text-tulip {
    color: #FF878D
}
.text-princess-perfume {
    color: #FF85CF
}
.text-mango-tango {
    color: #FF8243
}
.text-coral {
    color: #FF7F50
}
.text-orange-color-wheel {
    color: #FF7F00
}
.text-amber-sae/ece {
    color: #FF7E00
}
.text-heat-wave {
    color: #FF7A00
}
.text-safety-orange {
    color: #FF7800
}
.text-fuchsia-pink {
    color: #FF77FF
}
.text-orange-crayola {
    color: #FF7538
}
.text-pumpkin {
    color: #FF7518
}
.text-shocking-pink-crayola {
    color: #FF6FFF
}
.text-ultra-pink {
    color: #FF6FFF
}
.text-outrageous-orange {
    color: #FF6E4A
}
.text-smashed-pumpkin {
    color: #FF6D3A
}
.text-hot-pink {
    color: #FF69B4
}
.text-pastel-red {
    color: #FF6961
}
.text-safety-orange-blaze-orange {
    color: #FF6700
}
.text-rose-pink {
    color: #FF66CC
}
.text-tomato {
    color: #FF6347
}
.text-vivid-orange {
    color: #FF5F00
}
.text-light-deep-pink {
    color: #FF5CCD
}
.text-portland-orange {
    color: #FF5A36
}
.text-orange-pantone {
    color: #FF5800
}
.text-brilliant-rose {
    color: #FF55A3
}
.text-magenta-crayola {
    color: #FF55A3
}
.text-fiery-rose {
    color: #FF5470
}
.text-red-orange {
    color: #FF5349
}
.text-international-orange-aerospace {
    color: #FF4F00
}
.text-infra-red {
    color: #FF496C
}
.text-sasquatch-socks {
    color: #FF4681
}
.text-orange-red {
    color: #FF4500
}
.text-magic-potion {
    color: #FF4466
}
.text-wild-strawberry {
    color: #FF43A4
}
.text-sunburnt-cyclops {
    color: #FF404C
}
.text-coral-red {
    color: #FF4040
}
.text-sizzling-red {
    color: #FF3855
}
.text-coquelicot {
    color: #FF3800
}
.text-radical-red {
    color: #FF355E
}
.text-razzle-dazzle-rose {
    color: #FF33CC
}
.text-ferrari-red {
    color: #FF2800
}
.text-scarlet {
    color: #FF2400
}
.text-hot-magenta {
    color: #FF1DCE
}
.text-deep-pink {
    color: #FF1493
}
.text-fluorescent-pink {
    color: #FF1493
}
.text-candy-apple-red {
    color: #FF0800
}
.text-american-rose {
    color: #FF033E
}
.text-fuchsia {
    color: #FF00FF
}
.text-magenta {
    color: #FF00FF
}
.text-magenta-process {
    color: #FF0090
}
.text-bright-pink {
    color: #FF007F
}
.text-rose {
    color: #FF007F
}
.text-winter-sky {
    color: #FF007C
}
.text-vivid-raspberry {
    color: #FF006C
}
.text-folly {
    color: #FF004F
}
.text-electric-crimson {
    color: #FF003F
}
.text-carmine-red {
    color: #FF0038
}
.text-ruddy {
    color: #FF0028
}
.text-red {
    color: #FF0000
}
.text-baby-powder {
    color: #FEFEFA
}
.text-yellow-ryb {
    color: #FEFE33
}
.text-yellow-pantone {
    color: #FEDF00
}
.text-bittersweet {
    color: #FE6F5E
}
.text-giants-orange {
    color: #FE5A1D
}
.text-purple-pizzazz {
    color: #FE4EDA
}
.text-neon-fuchsia {
    color: #FE4164
}
.text-persian-rose {
    color: #FE28A2
}
.text-red-ryb {
    color: #FE2712
}
.text-lemon-glacier {
    color: #FDFF00
}
.text-pastel-yellow {
    color: #FDFD96
}
.text-old-lace {
    color: #FDF5E6
}
.text-aureolin {
    color: #FDEE00
}
.text-piggy-pink {
    color: #FDDDE6
}
.text-sandy-tan {
    color: #FDD9B5
}
.text-feldspar {
    color: #FDD5B1
}
.text-light-apricot {
    color: #FDD5B1
}
.text-melon {
    color: #FDBCB4
}
.text-coral-reef {
    color: #FD7C6E
}
.text-french-pink {
    color: #FD6C9E
}
.text-sunset-orange {
    color: #FD5E53
}
.text-willpower-orange {
    color: #FD5800
}
.text-ogre-odor {
    color: #FD5240
}
.text-french-fuchsia {
    color: #FD3F92
}
.text-red-salsa {
    color: #FD3A4A
}
.text-scarlet {
    color: #FD0E35
}
.text-tractor-red {
    color: #FD0E35
}
.text-icterine {
    color: #FCF75E
}
.text-yellow-crayola {
    color: #FCE883
}
.text-golden-poppy {
    color: #FCC200
}
.text-flamingo-pink {
    color: #FC8EAC
}
.text-tickle-me-pink {
    color: #FC89AC
}
.text-pink-flamingo {
    color: #FC74FD
}
.text-ultra-red {
    color: #FC6C85
}
.text-wild-watermelon {
    color: #FC6C85
}
.text-strawberry {
    color: #FC5A8D
}
.text-shocking-pink {
    color: #FC0FC0
}
.text-corn {
    color: #FBEC5D
}
.text-maize {
    color: #FBEC5D
}
.text-apricot {
    color: #FBCEB1
}
.text-classic-rose {
    color: #FBCCE7
}
.text-lavender-pink {
    color: #FBAED2
}
.text-rajah {
    color: #FBAB60
}
.text-lavender-rose {
    color: #FBA0E3
}
.text-orange-ryb {
    color: #FB9902
}
.text-brink-pink {
    color: #FB607F
}
.text-orioles-orange {
    color: #FB4F14
}
.text-tart-orange {
    color: #FB4D46
}
.text-light-goldenrod-yellow {
    color: #FAFAD2
}
.text-maximum-yellow {
    color: #FAFA37
}
.text-linen {
    color: #FAF0E6
}
.text-blond {
    color: #FAF0BE
}
.text-antique-white {
    color: #FAEBD7
}
.text-moccasin {
    color: #FAEBD7
}
.text-banana-mania {
    color: #FAE7B5
}
.text-peach-yellow {
    color: #FADFAD
}
.text-pale-pink {
    color: #FADADD
}
.text-naples-yellow {
    color: #FADA5E
}
.text-royal-yellow {
    color: #FADA5E
}
.text-stil-de-grain-yellow {
    color: #FADA5E
}
.text-deep-champagne {
    color: #FAD6A5
}
.text-sunset {
    color: #FAD6A5
}
.text-tuscan {
    color: #FAD6A5
}
.text-salmon {
    color: #FA8072
}
.text-begonia {
    color: #FA6E79
}
.text-orange-soda {
    color: #FA5B3D
}
.text-light-fuchsia-pink {
    color: #F984EF
}
.text-pale-magenta {
    color: #F984E5
}
.text-tangelo {
    color: #F94D00
}
.text-rose-bonbon {
    color: #F9429E
}
.text-ghost-white {
    color: #F8F8FF
}
.text-magnolia {
    color: #F8F4FF
}
.text-jasmine {
    color: #F8DE7E
}
.text-mellow-yellow {
    color: #F8DE7E
}
.text-orange-yellow {
    color: #F8D568
}
.text-mellow-apricot {
    color: #F8B878
}
.text-congo-pink {
    color: #F88379
}
.text-coral-pink {
    color: #F88379
}
.text-tea-rose {
    color: #F88379
}
.text-flavescent {
    color: #F7E98E
}
.text-champagne {
    color: #F7E7CE
}
.text-spanish-pink {
    color: #F7BFBE
}
.text-pink-sherbet {
    color: #F78FA7
}
.text-persian-pink {
    color: #F77FBE
}
.text-university-of-tennessee-orange {
    color: #F77F00
}
.text-violet-red {
    color: #F75394
}
.text-vivid-red {
    color: #F70D1A
}
.text-lemon-meringue {
    color: #F6EABE
}
.text-nadeshiko-pink {
    color: #F6ADC6
}
.text-french-rose {
    color: #F64A8A
}
.text-mint-cream {
    color: #F5FFFA
}
.text-cultured {
    color: #F5F5F5
}
.text-white-smoke {
    color: #F5F5F5
}
.text-beige {
    color: #F5F5DC
}
.text-minion-yellow {
    color: #F5E050
}
.text-wheat {
    color: #F5DEB3
}
.text-deep-lemon {
    color: #F5C71A
}
.text-princeton-orange {
    color: #F58025
}
.text-cyclamen {
    color: #F56FA1
}
.text-light-crimson {
    color: #F56991
}
.text-isabelline {
    color: #F4F0EC
}
.text-jonquil {
    color: #F4CA16
}
.text-saffron {
    color: #F4C430
}
.text-baby-pink {
    color: #F4C2C2
}
.text-tea-rose {
    color: #F4C2C2
}
.text-brilliant-lavender {
    color: #F4BBFF
}
.text-electric-lavender {
    color: #F4BBFF
}
.text-sandy-brown {
    color: #F4A460
}
.text-pastel-magenta {
    color: #F49AC2
}
.text-fashion-fuchsia {
    color: #F400A1
}
.text-hollywood-cerise {
    color: #F400A1
}
.text-medium-champagne {
    color: #F3E5AB
}
.text-vanilla {
    color: #F3E5AB
}
.text-vanilla-ice {
    color: #F38FA9
}
.text-mandarin {
    color: #F37A48
}
.text-anti-flash-white {
    color: #F2F3F4
}
.text-sunny {
    color: #F2F27A
}
.text-alabaster {
    color: #F2F0E6
}
.text-orchid-pink {
    color: #F2BDCD
}
.text-maximum-yellow-red {
    color: #F2BA49
}
.text-tangerine {
    color: #F28500
}
.text-red-munsell {
    color: #F2003C
}
.text-champagne-pink {
    color: #F1DDCF
}
.text-rich-brilliant-lavender {
    color: #F1A7FE
}
.text-amaranth-pink {
    color: #F19CBB
}
.text-azure-web-color {
    color: #F0FFFF
}
.text-azure-mist {
    color: #F0FFFF
}
.text-honeydew {
    color: #F0FFF0
}
.text-alice-blue {
    color: #F0F8FF
}
.text-eggshell {
    color: #F0EAD6
}
.text-khaki-x11-light-khaki {
    color: #F0E68C
}
.text-light-khaki {
    color: #F0E68C
}
.text-dandelion {
    color: #F0E130
}
.text-buff {
    color: #F0DC82
}
.text-light-coral {
    color: #F08080
}
.text-vivid-tangelo {
    color: #F07427
}
.text-dutch-white {
    color: #EFDFBB
}
.text-almond {
    color: #EFDECD
}
.text-yellow-munsell {
    color: #EFCC00
}
.text-cameo-pink {
    color: #EFBBCC
}
.text-mauvelous {
    color: #EF98AA
}
.text-deep-carmine-pink {
    color: #EF3038
}
.text-pale-goldenrod {
    color: #EEE8AA
}
.text-titanium-yellow {
    color: #EEE600
}
.text-flax {
    color: #EEDC82
}
.text-safety-yellow {
    color: #EED202
}
.text-lavender-magenta {
    color: #EE82EE
}
.text-violet-web {
    color: #EE82EE
}
.text-red-crayola {
    color: #EE204D
}
.text-desert-sand {
    color: #EDC9AF
}
.text-carrot-orange {
    color: #ED9121
}
.text-cadmium-orange {
    color: #ED872D
}
.text-imperial-red {
    color: #ED2939
}
.text-red-pantone {
    color: #ED2939
}
.text-red-pigment {
    color: #ED1C24
}
.text-pale-spring-bud {
    color: #ECEBBD
}
.text-sandstorm {
    color: #ECD540
}
.text-middle-yellow-red {
    color: #ECB176
}
.text-persimmon {
    color: #EC5800
}
.text-cerise-pink {
    color: #EC3B83
}
.text-carmine-pink {
    color: #EB4C42
}
.text-pearl {
    color: #EAE0C8
}
.text-marigold {
    color: #EAA221
}
.text-desire {
    color: #EA3C53
}
.text-nyanza {
    color: #E9FFDB
}
.text-arylide-yellow {
    color: #E9D66B
}
.text-hansa-yellow {
    color: #E9D66B
}
.text-dark-salmon {
    color: #E9967A
}
.text-burnt-sienna {
    color: #E97451
}
.text-light-red-ochre {
    color: #E97451
}
.text-deep-carrot-orange {
    color: #E9692C
}
.text-frostbite {
    color: #E936A7
}
.text-key-lime {
    color: #E8F48C
}
.text-queen-pink {
    color: #E8CCD7
}
.text-big-foot-feet {
    color: #E88E5A
}
.text-spanish-orange {
    color: #E86100
}
.text-ku-crimson {
    color: #E8000D
}
.text-bubbles {
    color: #E7FEFF
}
.text-pink-pearl {
    color: #E7ACCF
}
.text-kobi {
    color: #E79FC4
}
.text-dark-pink {
    color: #E75480
}
.text-glitter {
    color: #E6E8FA
}
.text-lavender-web {
    color: #E6E6FA
}
.text-lavender-mist {
    color: #E6E6FA
}
.text-peridot {
    color: #E6E200
}
.text-pale-gold {
    color: #E6BE8A
}
.text-light-orchid {
    color: #E6A8D7
}
.text-charm-pink {
    color: #E68FAC
}
.text-light-thulian-pink {
    color: #E68FAC
}
.text-light-carmine-pink {
    color: #E66771
}
.text-paradise-pink {
    color: #E63E62
}
.text-lust {
    color: #E62020
}
.text-spanish-red {
    color: #E60026
}
.text-platinum {
    color: #E5E4E2
}
.text-dust-storm {
    color: #E5CCC9
}
.text-meat-brown {
    color: #E5B73B
}
.text-fawn {
    color: #E5AA70
}
.text-middle-red {
    color: #E58E73
}
.text-vivid-vermilion {
    color: #E56024
}
.text-amaranth {
    color: #E52B50
}
.text-spanish-crimson {
    color: #E51A4C
}
.text-straw {
    color: #E4D96F
}
.text-citrine {
    color: #E4D00A
}
.text-gamboge {
    color: #E49B0F
}
.text-fulvous {
    color: #E48400
}
.text-candy-pink {
    color: #E4717A
}
.text-tango-pink {
    color: #E4717A
}
.text-mexican-pink {
    color: #E4007C
}
.text-red-purple {
    color: #E40078
}
.text-lemon-lime {
    color: #E3FF00
}
.text-mindaro {
    color: #E3F988
}
.text-bone {
    color: #E3DAC9
}
.text-sunray {
    color: #E3AB57
}
.text-indian-yellow {
    color: #E3A857
}
.text-cinnabar {
    color: #E34234
}
.text-vermilion {
    color: #E34234
}
.text-alizarin-crimson {
    color: #E32636
}
.text-rose-madder {
    color: #E32636
}
.text-razzmatazz {
    color: #E3256B
}
.text-raspberry {
    color: #E30B5D
}
.text-cadmium-red {
    color: #E30022
}
.text-terra-cotta {
    color: #E2725B
}
.text-flame {
    color: #E25822
}
.text-raspberry-pink {
    color: #E25098
}
.text-medium-candy-apple-red {
    color: #E2062C
}
.text-urobilin {
    color: #E1AD21
}
.text-earth-yellow {
    color: #E1A95F
}
.text-ruddy-pink {
    color: #E18E96
}
.text-permanent-geranium-lake {
    color: #E12C2C
}
.text-light-cyan {
    color: #E0FFFF
}
.text-mauve {
    color: #E0B0FF
}
.text-tiger's-eye {
 color: #E08D3C
}
.text-cg-red {
    color: #E03C31
}
.text-barbie-pink {
    color: #E0218A
}
.text-ruby {
    color: #E0115F
}
.text-chartreuse-traditional {
    color: #DFFF00
}
.text-heliotrope {
    color: #DF73FF
}
.text-vivid-red-tangelo {
    color: #DF6124
}
.text-phlox {
    color: #DF00FF
}
.text-psychedelic-purple {
    color: #DF00FF
}
.text-burlywood {
    color: #DEB887
}
.text-tumbleweed {
    color: #DEAA88
}
.text-pastel-pink {
    color: #DEA5A4
}
.text-china-pink {
    color: #DE6FA1
}
.text-liseran-purple {
    color: #DE6FA1
}
.text-thulian-pink {
    color: #DE6FA1
}
.text-blush {
    color: #DE5D83
}
.text-fandango-pink {
    color: #DE5285
}
.text-cerise {
    color: #DE3163
}
.text-cherry {
    color: #DE3163
}
.text-booger-buster {
    color: #DDE26A
}
.text-pale-chestnut {
    color: #DDADAF
}
.text-medium-lavender-magenta {
    color: #DDA0DD
}
.text-pale-plum {
    color: #DDA0DD
}
.text-plum-web {
    color: #DDA0DD
}
.text-gainsboro {
    color: #DCDCDC
}
.text-pale-lavender {
    color: #DCD0FF
}
.text-crimson {
    color: #DC143C
}
.text-azureish-white {
    color: #DBE9F4
}
.text-timberwolf {
    color: #DBD7D2
}
.text-pale-red-violet {
    color: #DB7093
}
.text-pale-violet-red {
    color: #DB7093
}
.text-goldenrod {
    color: #DAA520
}
.text-harvest-gold {
    color: #DA9100
}
.text-copper-crayola {
    color: #DA8A67
}
.text-pale-copper {
    color: #DA8A67
}
.text-orchid {
    color: #DA70D6
}
.text-jelly-bean {
    color: #DA614E
}
.text-deep-cerise {
    color: #DA3287
}
.text-rusty-red {
    color: #DA2C43
}
.text-vivid-cerise {
    color: #DA1D81
}
.text-maximum-green-yellow {
    color: #D9E650
}
.text-parrot-pink {
    color: #D998A0
}
.text-persian-orange {
    color: #D99058
}
.text-shimmering-blush {
    color: #D98695
}
.text-middle-purple {
    color: #D982B5
}
.text-medium-vermilion {
    color: #D9603B
}
.text-vermilion {
    color: #D9381E
}
.text-maximum-red {
    color: #D92121
}
.text-ua-red {
    color: #D9004C
}
.text-thistle {
    color: #D8BFD8
}
.text-pink-lavender {
    color: #D8B2D1
}
.text-bright-lilac {
    color: #D891EF
}
.text-new-york-pink {
    color: #D7837F
}
.text-pink-pantone {
    color: #D74894
}
.text-jasper {
    color: #D73B3E
}
.text-dogwood-rose {
    color: #D71868
}
.text-debian-red {
    color: #D70A53
}
.text-carmine-m&p {
    color: #D70040
}
.text-rich-carmine {
    color: #D70040
}
.text-languid-lavender {
    color: #D6CADD
}
.text-raw-sienna {
    color: #D68A59
}
.text-mystic {
    color: #D65282
}
.text-gold-metallic {
    color: #D4AF37
}
.text-deep-mauve {
    color: #D473D4
}
.text-french-mauve {
    color: #D473D4
}
.text-wild-orchid {
    color: #D470A2
}
.text-rosso-corsa {
    color: #D40000
}
.text-light-gray {
    color: #D3D3D3
}
.text-light-medium-orchid {
    color: #D39BCB
}
.text-amaranth-red {
    color: #D3212D
}
.text-utah-crimson {
    color: #D3003F
}
.text-tan {
    color: #D2B48C
}
.text-chocolate-web {
    color: #D2691E
}
.text-cinnamon[citation-needed] {
    color: #D2691E
}
.text-cocoa-brown {
    color: #D2691E
}
.text-pear {
    color: #D1E231
}
.text-dark-vanilla {
    color: #D1BEA8
}
.text-bright-ube {
    color: #D19FE8
}
.text-rubine-red {
    color: #D10056
}
.text-spanish-carmine {
    color: #D10047
}
.text-arctic-lime {
    color: #D0FF14
}
.text-tea-green {
    color: #D0F0C0
}
.text-magenta-pantone {
    color: #D0417E
}
.text-pastel-gray {
    color: #CFCFC4
}
.text-old-gold {
    color: #CFB53B
}
.text-sky-magenta {
    color: #CF71AF
}
.text-super-pink {
    color: #CF6BA9
}
.text-telemagenta {
    color: #CF3476
}
.text-lava {
    color: #CF1020
}
.text-volt {
    color: #CEFF00
}
.text-soap {
    color: #CEC8EF
}
.text-ruber {
    color: #CE4676
}
.text-fire-engine-red {
    color: #CE2029
}
.text-tropical-violet {
    color: #CDA4DE
}
.text-antique-brass {
    color: #CD9575
}
.text-peru {
    color: #CD853F
}
.text-bronze {
    color: #CD7F32
}
.text-cinnamon-satin {
    color: #CD607E
}
.text-indian-red {
    color: #CD5C5C
}
.text-dark-coral {
    color: #CD5B45
}
.text-tenné {
    color: #CD5700
}
.text-electric-lime {
    color: #CCFF00
}
.text-fluorescent-yellow {
    color: #CCFF00
}
.text-lavender-blue {
    color: #CCCCFF
}
.text-periwinkle {
    color: #CCCCFF
}
.text-lemon-curry {
    color: #CCA01D
}
.text-pale-violet {
    color: #CC99FF
}
.text-light-grayish-magenta {
    color: #CC99CC
}
.text-brown-yellow {
    color: #cc9966
}
.text-vivid-amber {
    color: #CC9900
}
.text-puce {
    color: #CC8899
}
.text-ochre {
    color: #CC7722
}
.text-fuzzy-wuzzy {
    color: #CC6666
}
.text-burnt-orange {
    color: #CC5500
}
.text-dark-terra-cotta {
    color: #CC4E5C
}
.text-english-vermillion {
    color: #CC474B
}
.text-fuchsia-purple {
    color: #CC397B
}
.text-steel-pink {
    color: #CC33CC
}
.text-magenta-pink {
    color: #CC338B
}
.text-madder-lake {
    color: #CC3336
}
.text-persian-red {
    color: #CC3333
}
.text-vivid-orchid {
    color: #CC00FF
}
.text-deep-magenta {
    color: #CC00CC
}
.text-vivid-crimson {
    color: #CC0033
}
.text-boston-university-red {
    color: #CC0000
}
.text-satin-sheen-gold {
    color: #CBA135
}
.text-pastel-violet {
    color: #CB99C9
}
.text-copper-red {
    color: #CB6D51
}
.text-brick-red {
    color: #CB4154
}
.text-sinopia {
    color: #CB410B
}
.text-bitter-lemon {
    color: #CAE00D
}
.text-royal-fuchsia {
    color: #CA2C92
}
.text-magenta-dye {
    color: #CA1F7B
}
.text-aero-blue {
    color: #C9FFE5
}
.text-medium-spring-bud {
    color: #C9DC87
}
.text-pale-silver {
    color: #C9C0BB
}
.text-wisteria {
    color: #C9A0DC
}
.text-cedar-chest {
    color: #C95A49
}
.text-harvard-crimson {
    color: #C90016
}
.text-light-french-beige {
    color: #C8AD7F
}
.text-lilac {
    color: #C8A2C8
}
.text-smitten {
    color: #C84186
}
.text-venetian-red {
    color: #C80815
}
.text-fuchsia-rose {
    color: #C74375
}
.text-french-raspberry {
    color: #C72C48
}
.text-medium-violet-red {
    color: #C71585
}
.text-red-violet {
    color: #C71585
}
.text-vegas-gold {
    color: #C5B358
}
.text-mulberry {
    color: #C54B8C
}
.text-dingy-dungeon {
    color: #C53151
}
.text-columbia-blue {
    color: #C4D8E2
}
.text-lavender-gray {
    color: #C4C3D0
}
.text-silver-pink {
    color: #C4AEAD
}
.text-alloy-orange {
    color: #C46210
}
.text-cardinal {
    color: #C41E3A
}
.text-red-ncs {
    color: #C40233
}
.text-khaki-html/css-khaki {
    color: #C3B091
}
.text-aztec-gold {
    color: #C39953
}
.text-bright-maroon {
    color: #C32148
}
.text-maroon-crayola {
    color: #C32148
}
.text-pictorial-carmine {
    color: #C30B4E
}
.text-ecru {
    color: #C2B280
}
.text-sand {
    color: #C2B280
}
.text-dark-pastel-red {
    color: #C23B22
}
.text-rose-red {
    color: #C21E56
}
.text-camel {
    color: #C19A6B
}
.text-desert {
    color: #C19A6B
}
.text-fallow {
    color: #C19A6B
}
.text-lion {
    color: #C19A6B
}
.text-wood-brown {
    color: #C19A6B
}
.text-deep-fuchsia {
    color: #C154C1
}
.text-fuchsia-crayola {
    color: #C154C1
}
.text-silver {
    color: #C0C0C0
}
.text-tuscany {
    color: #C09999
}
.text-old-rose {
    color: #C08081
}
.text-mahogany {
    color: #C04000
}
.text-international-orange-golden-gate-bridge {
    color: #C0362C
}
.text-bitter-lime {
    color: #BFFF00
}
.text-lime-color-wheel {
    color: #BFFF00
}
.text-silver-sand {
    color: #BFC1C2
}
.text-black-shadows {
    color: #BFAFB2
}
.text-bright-lavender {
    color: #BF94E4
}
.text-bittersweet-shimmer {
    color: #BF4F51
}
.text-electric-purple {
    color: #BF00FF
}
.text-gray-x11-gray {
    color: #BEBEBE
}
.text-popstar {
    color: #BE4F62
}
.text-crimson-glory {
    color: #BE0032
}
.text-june-bud {
    color: #BDDA57
}
.text-dark-khaki {
    color: #BDB76B
}
.text-byzantine {
    color: #BD33A4
}
.text-beau-blue {
    color: #BCD4E6
}
.text-pale-aqua {
    color: #BCD4E6
}
.text-sage {
    color: #BCB88A
}
.text-pale-taupe {
    color: #BC987E
}
.text-rosy-brown {
    color: #BC8F8F
}
.text-misty-moss {
    color: #BBB477
}
.text-ruddy-brown {
    color: #BB6528
}
.text-medium-red-violet {
    color: #BB3385
}
.text-deer {
    color: #BA8759
}
.text-medium-orchid {
    color: #BA55D3
}
.text-international-orange-engineering {
    color: #BA160C
}
.text-diamond {
    color: #B9F2FF
}
.text-deep-chestnut {
    color: #B94E48
}
.text-dark-goldenrod {
    color: #B8860B
}
.text-copper {
    color: #B87333
}
.text-liver-dogs {
    color: #B86D29
}
.text-vivid-mulberry {
    color: #B80CE3
}
.text-university-of-california-gold {
    color: #B78727
}
.text-opera-mauve {
    color: #B784A7
}
.text-rose-gold {
    color: #B76E79
}
.text-pearly-purple {
    color: #B768A2
}
.text-rust {
    color: #B7410E
}
.text-rich-lilac {
    color: #B666D2
}
.text-brass {
    color: #B5A642
}
.text-lavender-floral {
    color: #B57EDC
}
.text-turkish-rose {
    color: #B57281
}
.text-light-brown {
    color: #B5651D
}
.text-fandango {
    color: #B53389
}
.text-english-lavender {
    color: #B48395
}
.text-pastel-purple {
    color: #B39EB5
}
.text-light-taupe {
    color: #B38B6D
}
.text-irresistible {
    color: #B3446C
}
.text-raspberry-rose {
    color: #B3446C
}
.text-carnelian {
    color: #B31B1B
}
.text-cornell-red {
    color: #B31B1B
}
.text-celeste {
    color: #B2FFFF
}
.text-italian-sky-blue {
    color: #B2FFFF
}
.text-inchworm {
    color: #B2EC5D
}
.text-ash-grey {
    color: #B2BEB5
}
.text-african-violet {
    color: #B284BE
}
.text-firebrick {
    color: #B22222
}
.text-light-pastel-purple {
    color: #B19CD9
}
.text-powder-blue {
    color: #B0E0E6
}
.text-light-steel-blue {
    color: #B0C4DE
}
.text-acid-green {
    color: #B0BF1A
}
.text-ginger {
    color: #B06500
}
.text-giant's-club {
 color: #B05C52
}
.text-maroon-x11 {
    color: #B03060
}
.text-rich-maroon {
    color: #B03060
}
.text-pale-blue {
    color: #AFEEEE
}
.text-pale-turquoise {
    color: #AFEEEE
}
.text-brown-sugar {
    color: #AF6E4D
}
.text-medium-carmine {
    color: #AF4035
}
.text-pale-carmine {
    color: #AF4035
}
.text-alabama-crimson {
    color: #AF002A
}
.text-pastel-blue {
    color: #AEC6CF
}
.text-lilac-luster {
    color: #AE98AA
}
.text-upsdell-red {
    color: #AE2029
}
.text-mordant-red-19 {
    color: #AE0C00
}
.text-green-yellow {
    color: #ADFF2F
}
.text-light-moss-green {
    color: #ADDFAD
}
.text-light-blue {
    color: #ADD8E6
}
.text-copper-penny {
    color: #AD6F69
}
.text-mystic-maroon {
    color: #AD4379
}
.text-blizzard-blue {
    color: #ACE5EE
}
.text-blue-lagoon {
    color: #ACE5EE
}
.text-celadon {
    color: #ACE1AF
}
.text-middle-green-yellow {
    color: #ACBF60
}
.text-maximum-blue-purple {
    color: #ACACE6
}
.text-silver-chalice {
    color: #ACACAC
}
.text-french-wine {
    color: #AC1E44
}
.text-pale-cornflower-blue {
    color: #ABCDEF
}
.text-glossy-grape {
    color: #AB92B3
}
.text-rose-vale {
    color: #AB4E52
}
.text-english-red {
    color: #AB4B52
}
.text-amaranth-purple {
    color: #AB274F
}
.text-magic-mint {
    color: #AAF0D1
}
.text-heliotrope-gray {
    color: #AA98A9
}
.text-rose-quartz {
    color: #AA98A9
}
.text-medium-ruby {
    color: #AA4069
}
.text-chinese-red {
    color: #AA381E
}
.text-heliotrope-magenta {
    color: #AA00BB
}
.text-laurel-green {
    color: #A9BA9D
}
.text-dark-gray-x11 {
    color: #A9A9A9
}
.text-dark-medium-gray {
    color: #A9A9A9
}
.text-grullo {
    color: #A99A86
}
.text-deep-puce {
    color: #A95C68
}
.text-deep-carmine {
    color: #A9203E
}
.text-granny-smith-apple {
    color: #A8E4A0
}
.text-china-rose {
    color: #A8516E
}
.text-sweet-brown {
    color: #A83731
}
.text-rufous {
    color: #A81C07
}
.text-spring-bud {
    color: #A7FC00
}
.text-green-lizard {
    color: #A7F432
}
.text-rich-lavender {
    color: #A76BCF
}
.text-windsor-tan {
    color: #A75502
}
.text-fresh-air {
    color: #A6E7FF
}
.text-vivid-lime-green {
    color: #A6D608
}
.text-quick-silver {
    color: #A6A6A6
}
.text-café-au-lait {
    color: #A67B5B
}
.text-french-beige {
    color: #A67B5B
}
.text-tuscan-tan {
    color: #A67B5B
}
.text-maximum-red-purple {
    color: #A63A79
}
.text-blast-off-bronze {
    color: #A57164
}
.text-middle-red-purple {
    color: #A55353
}
.text-auburn {
    color: #A52A2A
}
.text-brown-web {
    color: #A52A2A
}
.text-red-brown {
    color: #A52A2A
}
.text-jazzberry-jam {
    color: #A50B5E
}
.text-waterspout {
    color: #A4F4F9
}
.text-non-photo-blue {
    color: #A4DDED
}
.text-android-green {
    color: #A4C639
}
.text-redwood {
    color: #A45A52
}
.text-dark-candy-apple-red {
    color: #A40000
}
.text-cambridge-blue {
    color: #A3C1AD
}
.text-wild-blue-yonder {
    color: #A2ADD0
}
.text-blue-bell {
    color: #A2A2D0
}
.text-flirt {
    color: #A2006D
}
.text-baby-blue-eyes {
    color: #A1CAF1
}
.text-burnished-brown {
    color: #A17A74
}
.text-winter-wizard {
    color: #A0E6FF
}
.text-turquoise-green {
    color: #A0D6B4
}
.text-chamoisee {
    color: #A0785A
}
.text-purple-x11 {
    color: #A020F0
}
.text-veronica {
    color: #A020F0
}
.text-sea-foam-green {
    color: #9FE2BF
}
.text-citron {
    color: #9FA91F
}
.text-beaver {
    color: #9F8170
}
.text-magenta-haze {
    color: #9F4576
}
.text-amaranth-deep-purple {
    color: #9F2B68
}
.text-vivid-burgundy {
    color: #9F1D35
}
.text-vivid-violet {
    color: #9F00FF
}
.text-purple-munsell {
    color: #9F00C5
}
.text-french-lime {
    color: #9EFD38
}
.text-rose-dust {
    color: #9E5E6F
}
.text-spartan-crimson {
    color: #9E1316
}
.text-limerick {
    color: #9DC209
}
.text-japanese-carmine {
    color: #9D2933
}
.text-metallic-sunburst {
    color: #9C7C38
}
.text-purple-plum {
    color: #9C51B6
}
.text-big-dip-o’ruby {
    color: #9C2542
}
.text-pale-cerulean {
    color: #9BC4E2
}
.text-dark-yellow {
    color: #9B870C
}
.text-dirt {
    color: #9B7653
}
.text-ruby-red {
    color: #9B111E
}
.text-yellow-green {
    color: #9ACD32
}
.text-olivine {
    color: #9AB973
}
.text-purpureus {
    color: #9A4EAE
}
.text-teal-deer {
    color: #99E6B3
}
.text-mountbatten-pink {
    color: #997A8D
}
.text-amethyst {
    color: #9966CC
}
.text-copper-rose {
    color: #996666
}
.text-gamboge-orange-brown {
    color: #996600
}
.text-golden-brown {
    color: #996515
}
.text-deep-lilac {
    color: #9955BB
}
.text-dark-orchid {
    color: #9932CC
}
.text-crimson-red {
    color: #990000
}
.text-ou-crimson-red {
    color: #990000
}
.text-stizza {
    color: #990000
}
.text-usc-cardinal {
    color: #990000
}
.text-mint-green {
    color: #98FF98
}
.text-pale-green {
    color: #98FB98
}
.text-spanish-gray {
    color: #989898
}
.text-cinereous {
    color: #98817B
}
.text-bazaar {
    color: #98777B
}
.text-pale-brown {
    color: #987654
}
.text-liver-chestnut {
    color: #987456
}
.text-dark-chestnut {
    color: #986960
}
.text-pink-raspberry {
    color: #980036
}
.text-manatee {
    color: #979AAA
}
.text-pale-robin-egg-blue {
    color: #96DED1
}
.text-eton-blue {
    color: #96C8A2
}
.text-lavender-purple {
    color: #967BB6
}
.text-purple-mountain-majesty {
    color: #9678B6
}
.text-bistre-brown {
    color: #967117
}
.text-drab {
    color: #967117
}
.text-mode-beige {
    color: #967117
}
.text-sand-dune {
    color: #967117
}
.text-sandy-taupe {
    color: #967117
}
.text-dark-pastel-purple {
    color: #966FD6
}
.text-coconut {
    color: #965A3E
}
.text-brown-traditional {
    color: #964B00
}
.text-carmine {
    color: #960018
}
.text-heidelberg-red[2] {
    color: #960018
}
.text-chestnut {
    color: #954535
}
.text-lavender-indigo {
    color: #9457EB
}
.text-navy-purple {
    color: #9457EB
}
.text-dark-violet {
    color: #9400D3
}
.text-light-cornflower-blue {
    color: #93CCEA
}
.text-pistachio {
    color: #93C572
}
.text-medium-purple {
    color: #9370DB
}
.text-smoky-topaz {
    color: #933D41
}
.text-ceil {
    color: #92A1CF
}
.text-vivid-auburn {
    color: #922724
}
.text-sangria {
    color: #92000A
}
.text-cadet-grey {
    color: #91A3B0
}
.text-dark-tan {
    color: #918151
}
.text-mauve-taupe {
    color: #915F6D
}
.text-raspberry-glace {
    color: #915F6D
}
.text-antique-fuchsia {
    color: #915C83
}
.text-sugar-plum {
    color: #914E75
}
.text-light-green {
    color: #90EE90
}
.text-rose-taupe {
    color: #905D5D
}
.text-sheen-green {
    color: #8FD400
}
.text-dark-sea-green {
    color: #8FBC8F
}
.text-artichoke {
    color: #8F9779
}
.text-electric-violet {
    color: #8F00FF
}
.text-violet {
    color: #8F00FF
}
.text-kiwi {
    color: #8EE53F
}
.text-plum {
    color: #8E4585
}
.text-quinacridone-magenta {
    color: #8E3A59
}
.text-middle-blue-green {
    color: #8DD9CC
}
.text-apple-green {
    color: #8DB600
}
.text-razzmic-berry {
    color: #8D4E85
}
.text-dark-sky-blue {
    color: #8CBED6
}
.text-cool-grey {
    color: #8C92AC
}
.text-gray-blue {
    color: #8C92AC
}
.text-pewter-blue {
    color: #8BA8B7
}
.text-taupe-gray {
    color: #8B8589
}
.text-middle-blue-purple {
    color: #8B72BE
}
.text-spicy-mix {
    color: #8B5f4D
}
.text-saddle-brown {
    color: #8B4513
}
.text-dark-magenta {
    color: #8B008B
}
.text-dark-red {
    color: #8B0000
}
.text-jordy-blue {
    color: #8AB9F1
}
.text-moss-green {
    color: #8A9A5B
}
.text-turtle-green {
    color: #8A9A5B
}
.text-rocket-metallic {
    color: #8A7F80
}
.text-shadow {
    color: #8A795D
}
.text-twilight-lavender {
    color: #8A496B
}
.text-burnt-umber {
    color: #8A3324
}
.text-blue-violet {
    color: #8A2BE2
}
.text-baby-blue {
    color: #89CFF0
}
.text-cordovan {
    color: #893F45
}
.text-solid-pink {
    color: #893843
}
.text-pearl-aqua {
    color: #88D8C0
}
.text-light-cobalt-blue {
    color: #88ACE0
}
.text-ube {
    color: #8878C3
}
.text-dark-brown-tangelo {
    color: #88654E
}
.text-grizzly {
    color: #885818
}
.text-kobe {
    color: #882D17
}
.text-sienna {
    color: #882D17
}
.text-french-violet {
    color: #8806CE
}
.text-mardi-gras {
    color: #880085
}
.text-spring-frost {
    color: #87FF2A
}
.text-pale-cyan {
    color: #87D3F8
}
.text-light-sky-blue {
    color: #87CEFA
}
.text-sky-blue {
    color: #87CEEB
}
.text-asparagus {
    color: #87A96B
}
.text-boysenberry {
    color: #873260
}
.text-dark-raspberry {
    color: #872657
}
.text-old-moss-green {
    color: #867E36
}
.text-french-lilac {
    color: #86608E
}
.text-pomp-and-power {
    color: #86608E
}
.text-violet-ryb {
    color: #8601AF
}
.text-red-devil {
    color: #860111
}
.text-dollar-bill {
    color: #85BB65
}
.text-gold-fusion {
    color: #85754E
}
.text-french-bistre {
    color: #856D4D
}
.text-chinese-violet {
    color: #856088
}
.text-deep-red {
    color: #850101
}
.text-alien-armpit {
    color: #84DE02
}
.text-battleship-grey {
    color: #848482
}
.text-old-silver {
    color: #848482
}
.text-deep-ruby {
    color: #843F5B
}
.text-antique-ruby {
    color: #841B2D
}
.text-roman-silver {
    color: #838996
}
.text-pastel-brown {
    color: #836953
}
.text-smokey-topaz {
    color: #832A0D
}
.text-dolphin-gray {
    color: #828E84
}
.text-mummy's-tomb {
 color: #828E84
}
.text-raw-umber {
    color: #826644
}
.text-deep-maroon {
    color: #820000
}
.text-coyote-brown {
    color: #81613C
}
.text-french-plum {
    color: #811453
}
.text-medium-sky-blue {
    color: #80DAEB
}
.text-gray {
    color: #808080
}
.text-gray-html/css-gray {
    color: #808080
}
.text-trolley-grey {
    color: #808080
}
.text-heart-gold {
    color: #808000
}
.text-olive {
    color: #808000
}
.text-spanish-bistre {
    color: #807532
}
.text-russet {
    color: #80461B
}
.text-falu-red {
    color: #801818
}
.text-patriarch {
    color: #800080
}
.text-purple-html {
    color: #800080
}
.text-burgundy {
    color: #800020
}
.text-maroon-html/css {
    color: #800000
}
.text-aquamarine {
    color: #7FFFD4
}
.text-chartreuse-web {
    color: #7FFF00
}
.text-claret {
    color: #7F1734
}
.text-violet-color-wheel {
    color: #7F00FF
}
.text-middle-blue {
    color: #7ED4E6
}
.text-deep-taupe {
    color: #7E5E60
}
.text-electric-blue {
    color: #7DF9FF
}
.text-lawn-green {
    color: #7CFC00
}
.text-aero {
    color: #7CB9E8
}
.text-vista-blue {
    color: #7C9ED9
}
.text-weldon-blue {
    color: #7C98AB
}
.text-tuscan-red {
    color: #7C4848
}
.text-kenyan-copper {
    color: #7C1C05
}
.text-barn-red {
    color: #7C0A02
}
.text-bud-green {
    color: #7BB661
}
.text-medium-slate-blue {
    color: #7B68EE
}
.text-chocolate-traditional {
    color: #7B3F00
}
.text-up-maroon {
    color: #7B1113
}
.text-old-lavender {
    color: #796878
}
.text-bole {
    color: #79443B
}
.text-medium-tuscan-red {
    color: #79443B
}
.text-camouflage-green {
    color: #78866B
}
.text-royal-purple {
    color: #7851A9
}
.text-pansy-purple {
    color: #78184A
}
.text-pastel-green {
    color: #77DD77
}
.text-french-sky-blue {
    color: #77B5FE
}
.text-dark-pastel-blue {
    color: #779ECB
}
.text-shadow-blue {
    color: #778BA5
}
.text-light-slate-gray {
    color: #778899
}
.text-rhythm {
    color: #777696
}
.text-sonic-silver {
    color: #757575
}
.text-mantis {
    color: #74C365
}
.text-very-light-azure {
    color: #74BBFB
}
.text-toolbox {
    color: #746CC0
}
.text-maya-blue {
    color: #73C2FB
}
.text-moonstone-blue {
    color: #73A9C2
}
.text-xanadu {
    color: #738678
}
.text-smoke {
    color: #738276
}
.text-bronze-yellow {
    color: #737000
}
.text-dark-lavender {
    color: #734F96
}
.text-maximum-purple {
    color: #733380
}
.text-air-superiority-blue {
    color: #72A0C1
}
.text-nickel {
    color: #727472
}
.text-puce-red {
    color: #722F37
}
.text-wine {
    color: #722F37
}
.text-iguana-green {
    color: #71BC78
}
.text-iceberg {
    color: #71A6D2
}
.text-slate-gray {
    color: #708090
}
.text-deep-coffee {
    color: #704241
}
.text-roast-coffee {
    color: #704241
}
.text-sepia {
    color: #704214
}
.text-catawba {
    color: #703642
}
.text-byzantium {
    color: #702963
}
.text-midnight {
    color: #702670
}
.text-persian-plum {
    color: #701C1C
}
.text-prune {
    color: #701C1C
}
.text-palm-leaf {
    color: #6F9940
}
.text-coffee {
    color: #6F4E37
}
.text-tuscan-brown {
    color: #6F4E37
}
.text-grape {
    color: #6F2DA8
}
.text-electric-indigo {
    color: #6F00FF
}
.text-green-sheen {
    color: #6EAEA1
}
.text-aurometalsaurus {
    color: #6E7F80
}
.text-cerulean-frost {
    color: #6D9BC3
}
.text-little-boy-blue {
    color: #6CA0DC
}
.text-field-drab {
    color: #6C541E
}
.text-eminence {
    color: #6C3082
}
.text-liver-organ {
    color: #6C2E1F
}
.text-olive-drab-#3 {
    color: #6B8E23
}
.text-brown-nose {
    color: #6B4423
}
.text-flattery {
    color: #6B4423
}
.text-kobicha {
    color: #6B4423
}
.text-slate-blue {
    color: #6A5ACD
}
.text-dim-gray {
    color: #696969
}
.text-purple-heart {
    color: #69359C
}
.text-palatinate-purple {
    color: #682860
}
.text-russian-green {
    color: #679267
}
.text-granite-gray {
    color: #676767
}
.text-liver {
    color: #674C47
}
.text-medium-taupe {
    color: #674C47
}
.text-rose-ebony {
    color: #674846
}
.text-old-mauve {
    color: #673147
}
.text-wine-dregs {
    color: #673147
}
.text-screamin'-green {
 color: #66FF66
}
.text-bright-green {
    color: #66FF00
}
.text-medium-aquamarine {
    color: #66DDAA
}
.text-green-ryb {
    color: #66B032
}
.text-blue-gray {
    color: #6699CC
}
.text-livid {
    color: #6699CC
}
.text-desaturated-cyan {
    color: #669999
}
.text-very-light-blue {
    color: #6666FF
}
.text-dark-blue-gray {
    color: #666699
}
.text-antique-bronze {
    color: #665D1E
}
.text-donkey-brown {
    color: #664C28
}
.text-deep-tuscan-red {
    color: #66424D
}
.text-van-dyke-brown {
    color: #664228
}
.text-halayà-úbe {
    color: #663854
}
.text-rebecca-purple {
    color: #663399
}
.text-imperial-purple {
    color: #66023C
}
.text-tyrian-purple {
    color: #66023C
}
.text-dark-brown {
    color: #654321
}
.text-otter-brown {
    color: #654321
}
.text-rosewood {
    color: #65000B
}
.text-very-light-malachite-green {
    color: #64E986
}
.text-cornflower-blue {
    color: #6495ED
}
.text-wenge {
    color: #645452
}
.text-pullman-brown-ups-brown {
    color: #644117
}
.text-umber {
    color: #635147
}
.text-eggplant {
    color: #614051
}
.text-glaucous {
    color: #6082B6
}
.text-majorelle-blue {
    color: #6050DC
}
.text-imperial {
    color: #602F6B
}
.text-shiny-shamrock {
    color: #5FA778
}
.text-cadet-blue {
    color: #5F9EA0
}
.text-steel-teal {
    color: #5F8A8B
}
.text-maximum-green {
    color: #5E8C31
}
.text-blue-jeans {
    color: #5DADEC
}
.text-polished-pine {
    color: #5DA493
}
.text-air-force-blue-raf {
    color: #5D8AA8
}
.text-rackley {
    color: #5D8AA8
}
.text-silver-lake-blue {
    color: #5D89BA
}
.text-dark-byzantium {
    color: #5D3954
}
.text-united-nations-blue {
    color: #5B92E5
}
.text-japanese-violet {
    color: #5B3256
}
.text-iris {
    color: #5A4FCF
}
.text-plump-purple {
    color: #5946B2
}
.text-caput-mortuum {
    color: #592720
}
.text-seal-brown {
    color: #59260B
}
.text-cyber-grape {
    color: #58427C
}
.text-carolina-blue {
    color: #56A0D3
}
.text-wintergreen-dream {
    color: #56887D
}
.text-avocado {
    color: #568203
}
.text-english-violet {
    color: #563C5C
}
.text-old-heliotrope {
    color: #563C5C
}
.text-pineapple {
    color: #563C5C
}
.text-dark-scarlet {
    color: #560319
}
.text-dark-olive-green {
    color: #556B2F
}
.text-deep-spring-bud {
    color: #556B2F
}
.text-ebony {
    color: #555D50
}
.text-davy's-grey {
 color: #555555
}
.text-blue-magenta-violet {
    color: #553592
}
.text-black-coral {
    color: #54626F
}
.text-liberty {
    color: #545AA7
}
.text-dark-liver-horses {
    color: #543D37
}
.text-ucla-blue {
    color: #536895
}
.text-dark-electric-blue {
    color: #536878
}
.text-payne's-grey {
 color: #536878
}
.text-cadet {
    color: #536872
}
.text-dark-liver {
    color: #534B4F
}
.text-regalia {
    color: #522D80
}
.text-han-purple {
    color: #5218FA
}
.text-quartz {
    color: #51484F
}
.text-ksu-purple {
    color: #512888
}
.text-emerald {
    color: #50C878
}
.text-paris-green {
    color: #50C878
}
.text-sap-green {
    color: #507D2A
}
.text-blue-yonder {
    color: #5072A7
}
.text-purple-taupe {
    color: #50404D
}
.text-blueberry {
    color: #4F86F7
}
.text-fern-green {
    color: #4F7942
}
.text-stormcloud {
    color: #4F666A
}
.text-ocean-blue {
    color: #4F42B5
}
.text-dark-puce {
    color: #4F3A3C
}
.text-cyan-azure {
    color: #4E82B4
}
.text-purple-navy {
    color: #4E5180
}
.text-french-puce {
    color: #4E1609
}
.text-middle-green {
    color: #4D8C57
}
.text-feldgrau {
    color: #4D5D53
}
.text-kelly-green {
    color: #4CBB17
}
.text-may-green {
    color: #4C9141
}
.text-independence {
    color: #4C516D
}
.text-acajou {
    color: #4C2F27
}
.text-spanish-violet {
    color: #4C2882
}
.text-sea-serpent {
    color: #4BC7CF
}
.text-army-green {
    color: #4B5320
}
.text-café-noir {
    color: #4B3621
}
.text-indigo {
    color: #4B0082
}
.text-indigo-web {
    color: #4B0082
}
.text-chlorophyll-green {
    color: #4AFF00
}
.text-deep-space-sparkle {
    color: #4A646C
}
.text-dark-moss-green {
    color: #4A5D23
}
.text-celestial-blue {
    color: #4997D0
}
.text-hooker's-green {
 color: #49796B
}
.text-medium-turquoise {
    color: #48D1CC
}
.text-ocean-green {
    color: #48BF91
}
.text-dark-slate-blue {
    color: #483D8B
}
.text-dark-lava {
    color: #483C32
}
.text-dark-taupe {
    color: #483C32
}
.text-taupe {
    color: #483C32
}
.text-bulgarian-rose {
    color: #480607
}
.text-maximum-blue {
    color: #47ABCC
}
.text-harlequin-green {
    color: #46CB18
}
.text-cyan-blue-azure {
    color: #4682BF
}
.text-steel-blue {
    color: #4682B4
}
.text-gray-asparagus {
    color: #465945
}
.text-picton-blue {
    color: #45B1E8
}
.text-eucalyptus {
    color: #44D7A8
}
.text-han-blue {
    color: #446CCF
}
.text-rifle-green {
    color: #444C38
}
.text-verdigris {
    color: #43B3AE
}
.text-queen-blue {
    color: #436B95
}
.text-old-burgundy {
    color: #43302E
}
.text-tufts-blue {
    color: #417DC1
}
.text-royal-blue {
    color: #4169E1
}
.text-ultramarine-blue {
    color: #4166F5
}
.text-outer-space {
    color: #414A4C
}
.text-turquoise {
    color: #40E0D0
}
.text-deep-aquamarine {
    color: #40826D
}
.text-viridian {
    color: #40826D
}
.text-harlequin {
    color: #3FFF00
}
.text-electric-ultramarine {
    color: #3F00FF
}
.text-ultramarine {
    color: #3F00FF
}
.text-mint {
    color: #3EB489
}
.text-bistre {
    color: #3D2B1F
}
.text-black-bean {
    color: #3D0C02
}
.text-ufo-green {
    color: #3CD070
}
.text-medium-sea-green {
    color: #3CB371
}
.text-olive-drab-#7 {
    color: #3C341F
}
.text-dark-sienna {
    color: #3C1414
}
.text-amazon {
    color: #3B7A57
}
.text-arsenic {
    color: #3B444B
}
.text-black-olive {
    color: #3B3C36
}
.text-pullman-green {
    color: #3B331C
}
.text-keppel {
    color: #3AB09E
}
.text-neon-green {
    color: #39FF14
}
.text-zomp {
    color: #39A78E
}
.text-pixie-powder {
    color: #391285
}
.text-teal-blue {
    color: #367588
}
.text-ming {
    color: #36747D
}
.text-charcoal {
    color: #36454F
}
.text-interdimensional-blue {
    color: #360CCC
}
.text-deep-moss-green {
    color: #355E3B
}
.text-hunter-green {
    color: #355E3B
}
.text-kombu-green {
    color: #354230
}
.text-onyx {
    color: #353839
}
.text-wageningen-green {
    color: #34B233
}
.text-jet {
    color: #343434
}
.text-brilliant-azure {
    color: #3399FF
}
.text-blue-pigment {
    color: #333399
}
.text-deep-koamaru {
    color: #333366
}
.text-deep-violet {
    color: #330066
}
.text-lime-green {
    color: #32CD32
}
.text-violet-blue {
    color: #324AB2
}
.text-russian-violet {
    color: #32174D
}
.text-persian-indigo {
    color: #32127A
}
.text-illuminating-emerald {
    color: #319177
}
.text-bleu-de-france {
    color: #318CE7
}
.text-myrtle-green {
    color: #317873
}
.text-maximum-blue-green {
    color: #30BFBF
}
.text-mountain-meadow {
    color: #30BA8F
}
.text-mughal-green {
    color: #306030
}
.text-dark-purple {
    color: #301934
}
.text-celadon-green {
    color: #2F847C
}
.text-dark-slate-gray {
    color: #2F4F4F
}
.text-sea-green {
    color: #2E8B57
}
.text-b'dazzled-blue {
 color: #2E5894
}
.text-cosmic-cobalt {
    color: #2E2D88
}
.text-zinnwaldite-brown {
    color: #2C1608
}
.text-napier-green {
    color: #2A8000
}
.text-cerulean-blue {
    color: #2A52BE
}
.text-gunmetal {
    color: #2a3439
}
.text-jungle-green {
    color: #29AB87
}
.text-slimy-green {
    color: #299617
}
.text-cyan-cobalt-blue {
    color: #28589C
}
.text-palatinate-blue {
    color: #273BE2
}
.text-lapis-lazuli {
    color: #26619C
}
.text-japanese-indigo {
    color: #264348
}
.text-black-leather-jacket {
    color: #253529
}
.text-raisin-black {
    color: #242124
}
.text-charleston-green {
    color: #232B2B
}
.text-st.-patrick's-blue {
 color: #23297A
}
.text-forest-green-web {
    color: #228B22
}
.text-denim-blue {
    color: #2243B6
}
.text-ball-blue {
    color: #21ABCD
}
.text-new-car {
    color: #214FC6
}
.text-middle-red-purple {
    color: #210837
}
.text-light-sea-green {
    color: #20B2AA
}
.text-blue-crayola {
    color: #1F75FE
}
.text-dark-gunmetal {
    color: #1F262A
}
.text-dodger-blue {
    color: #1E90FF
}
.text-cal-poly-pomona-green {
    color: #1E4D2B
}
.text-battery-charged-blue {
    color: #1DACD6
}
.text-bright-cerulean {
    color: #1DACD6
}
.text-space-cadet {
    color: #1D2951
}
.text-green-crayola {
    color: #1CAC78
}
.text-pacific-blue {
    color: #1CA9C9
}
.text-persian-blue {
    color: #1C39BB
}
.text-medium-jungle-green {
    color: #1C352D
}
.text-yankees-blue {
    color: #1C2841
}
.text-bluebonnet {
    color: #1C1CF0
}
.text-brunswick-green {
    color: #1B4D3E
}
.text-english-green {
    color: #1B4D3E
}
.text-eerie-black {
    color: #1B1B1B
}
.text-dark-jungle-green {
    color: #1A2421
}
.text-licorice {
    color: #1A1110
}
.text-bright-navy-blue {
    color: #1974D2
}
.text-lincoln-green {
    color: #195905
}
.text-midnight-blue {
    color: #191970
}
.text-cyan-cornflower-blue {
    color: #188BC2
}
.text-msu-green {
    color: #18453B
}
.text-dark-spring-green {
    color: #177245
}
.text-denim {
    color: #1560BD
}
.text-india-green {
    color: #138808
}
.text-blue-sapphire {
    color: #126180
}
.text-phthalo-green {
    color: #123524
}
.text-green-blue {
    color: #1164B4
}
.text-egyptian-blue {
    color: #1034A6
}
.text-smoky-black {
    color: #100C08
}
.text-spiro-disco-ball {
    color: #0FC0FC
}
.text-sapphire {
    color: #0F52BA
}
.text-yale-blue {
    color: #0F4D92
}
.text-deep-green-cyan-turquoise {
    color: #0E7C61
}
.text-blue-green {
    color: #0D98BA
}
.text-malachite {
    color: #0BDA51
}
.text-tiffany-blue {
    color: #0ABAB5
}
.text-metallic-seaweed {
    color: #0A7E8C
}
.text-indigo-dye {
    color: #091F92
}
.text-bright-turquoise {
    color: #08E8DE
}
.text-rich-electric-blue {
    color: #0892D0
}
.text-la-salle-green {
    color: #087830
}
.text-dark-cerulean {
    color: #08457E
}
.text-catalina-blue {
    color: #062A78
}
.text-north-texas-green {
    color: #059033
}
.text-deep-green {
    color: #056608
}
.text-dark-pastel-green {
    color: #03C03C
}
.text-medium-electric-blue {
    color: #035096
}
.text-blue-ryb {
    color: #0247FE
}
.text-pine-green {
    color: #01796F
}
.text-forest-green-traditional {
    color: #014421
}
.text-up-forest-green {
    color: #014421
}
.text-dark-green {
    color: #013220
}
.text-rich-black-fogra29 {
    color: #010B13
}
.text-rich-black-fogra39 {
    color: #010203
}
.text-aqua {
    color: #00FFFF
}
.text-cyan {
    color: #00FFFF
}
.text-electric-cyan {
    color: #00FFFF
}
.text-spanish-sky-blue {
    color: #00FFFF
}
.text-turquoise-blue {
    color: #00FFEF
}
.text-guppie-green {
    color: #00FF7F
}
.text-spring-green {
    color: #00FF7F
}
.text-electric-green {
    color: #00FF00
}
.text-green-color-wheel-x11-green {
    color: #00FF00
}
.text-lime-web-x11-green {
    color: #00FF00
}
.text-medium-spring-green {
    color: #00FA9A
}
.text-dark-turquoise {
    color: #00CED1
}
.text-vivid-sky-blue {
    color: #00CCFF
}
.text-robin-egg-blue {
    color: #00CCCC
}
.text-caribbean-green {
    color: #00CC99
}
.text-vivid-malachite {
    color: #00CC33
}
.text-turquoise-surf {
    color: #00C5CD
}
.text-amazonite {
    color: #00C4B0
}
.text-capri {
    color: #00BFFF
}
.text-deep-sky-blue {
    color: #00BFFF
}
.text-blue-bolt {
    color: #00B9FB
}
.text-cyan-process {
    color: #00B7EB
}
.text-green-pantone {
    color: #00AD43
}
.text-go-green {
    color: #00AB66
}
.text-vivid-cerulean {
    color: #00AAEE
}
.text-green-munsell {
    color: #00A877
}
.text-jade {
    color: #00A86B
}
.text-persian-green {
    color: #00A693
}
.text-green-pigment {
    color: #00A550
}
.text-green-ncs {
    color: #009F6B
}
.text-shamrock-green {
    color: #009E60
}
.text-paolo-veronese-green {
    color: #009B7D
}
.text-green-cyan {
    color: #009966
}
.text-viridian-green {
    color: #009698
}
.text-bondi-blue {
    color: #0095B6
}
.text-blue-munsell {
    color: #0093AF
}
.text-spanish-green {
    color: #009150
}
.text-islamic-green {
    color: #009000
}
.text-dark-cyan {
    color: #008B8B
}
.text-blue-ncs {
    color: #0087BD
}
.text-teal-green {
    color: #00827F
}
.text-teal {
    color: #008080
}
.text-ao-english {
    color: #008000
}
.text-green-html/css-color {
    color: #008000
}
.text-office-green {
    color: #008000
}
.text-azure {
    color: #007FFF
}
.text-generic-viridian {
    color: #007F66
}
.text-spanish-viridian {
    color: #007F5C
}
.text-star-command-blue {
    color: #007BB8
}
.text-celadon-blue {
    color: #007BA7
}
.text-cerulean {
    color: #007BA7
}
.text-cg-blue {
    color: #007AA5
}
.text-ocean-boat-blue {
    color: #0077BE
}
.text-tropical-rain-forest {
    color: #00755E
}
.text-skobeloff {
    color: #007474
}
.text-true-blue {
    color: #0073CF
}
.text-french-blue {
    color: #0072BB
}
.text-brandeis-blue {
    color: #0070FF
}
.text-spanish-blue {
    color: #0070B8
}
.text-dartmouth-green {
    color: #00703C
}
.text-honolulu-blue {
    color: #006DB0
}
.text-cadmium-green {
    color: #006B3C
}
.text-bangladesh-green {
    color: #006A4E
}
.text-bottle-green {
    color: #006A4E
}
.text-sea-blue {
    color: #006994
}
.text-medium-persian-blue {
    color: #0067A5
}
.text-sapphire-blue {
    color: #0067A5
}
.text-pakistan-green {
    color: #006600
}
.text-dark-green-x11 {
    color: #006400
}
.text-castleton-green {
    color: #00563F
}
.text-sacramento-state-green {
    color: #00563F
}
.text-usafa-blue {
    color: #004F98
}
.text-deep-jungle-green {
    color: #004B49
}
.text-midnight-green-eagle-green {
    color: #004953
}
.text-absolute-zero {
    color: #0048BA
}
.text-cobalt-blue {
    color: #0047AB
}
.text-warm-black {
    color: #004242
}
.text-british-racing-green {
    color: #004225
}
.text-dark-imperial-blue {
    color: #00416A
}
.text-rich-black {
    color: #004040
}
.text-royal-azure {
    color: #0038A8
}
.text-ua-blue {
    color: #0033AA
}
.text-dark-powder-blue {
    color: #003399
}
.text-smalt-dark-powder-blue {
    color: #003399
}
.text-dark-midnight-blue {
    color: #003366
}
.text-prussian-blue {
    color: #003153
}
.text-air-force-blue-usaf {
    color: #00308F
}
.text-international-klein-blue {
    color: #002FA7
}
.text-cool-black {
    color: #002E63
}
.text-imperial-blue {
    color: #002395
}
.text-resolution-blue {
    color: #002387
}
.text-royal-blue {
    color: #002366
}
.text-oxford-blue {
    color: #002147
}
.text-maastricht-blue {
    color: #001C3D
}
.text-blue-pantone {
    color: #0018A8
}
.text-zaffre {
    color: #0014A8
}
.text-dark-imperial-blue {
    color: #00147E
}
.text-phthalo-blue {
    color: #000F89
}
.text-blue {
    color: #0000FF
}
.text-medium-blue {
    color: #0000CD
}
.text-duke-blue {
    color: #00009C
}
.text-dark-blue {
    color: #00008B
}
.text-navy {
    color: #000080
}
.text-black {
    color: #000000
}
.text-registration-black {
    color: #000000
}
